*{
	padding: 0;
	margin: 0;
}
body{
	font-family: arial;
	padding: 20px;
	width: 70%;
}
table{
	margin: 20px 0 10px;
	border-collapse: collapse;
}
th,td{
	border: 1px solid black;

}
#column1{
	width: 300px;
}
.column{
	width: 100px;
}
h3{
	margin-left: 470px;
	margin-bottom: 10px;
}
#continue_button{
	width: 150px;
	height: 25px;
	margin-left: 450px;
}
#user_information{
	width: 350px;
	text-align: right;
}
.input{
    margin-top: 5px;
    margin-bottom: 5px;
    height: 20px;
    width: 230px;
}
#pay_button{
	width: 70px;
	height: 25px;
}
.align_left{
	text-align: left;
}
.address{
	margin-bottom: 20px;
	 height: 20px;
    width: 230px;
}
#checkbox{
	float: left;
}
