*{
	padding: 0;
	margin: 0;
}
body{
	font-family: arial;
	padding: 20px;
}
table{
	margin: 20px 0 50px;
	border-collapse: collapse;
}
th,td{
	border: 1px solid black;
}
.column1{
	width: 300px;
}
.column2{
	width: 200px;
}
.column3{
	width: 150px;
}
.column{
	width: 80px;
}
.selected{
	display: none;
}
#status{
	margin-left: 570px;
}
.selected_status{
	text-align: center;
	display: inline-block;
}