/**{
    padding: 0;
    margin: 0;
}
body{
    font-family: arial;
    padding: 20px;
    width: 70%;
}*/
#nav_bar{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    padding: 10px;
    border:1px solid black;
}
.productDiv {
    width: 220px;
    height: 270px;
    display: inline-block;
    vertical-align: top;
}
#row {
    width: 300px;
    display: inline-block;
}
#allProducts{
    display: inline-block;
    width:700px;
    vertical-align: top;
}
